<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dr. Babasaheb Ambedkar Tribute</title>
    <link rel="stylesheet" href="stylesheet.css">
<style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    color: #333;
}

header {
    background-color: #fafafa;
    text-align: center;
    padding: 5px ;
    padding-left: 150px;
    padding-right: 150px;
    
}

img{
    width: 80px;
    height: 120px;
}

img {
    overflow-clip-margin: content-box; 
    overflow: clip;
}


h1 {
    margin: 0;
    padding: 2px;
    background-color: #ecc205;
    color: rgb(0, 76, 252);
}


main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #ff0d0d;
    position: fixed;
    bottom: 0;
    width: 100%;
}

</style>
</head>
<body>

    <header id="img">
        {% load static %}
        <a  href="D:\Python code\Class Projects\HTML and CSS\Tribute Page\Ambedkar img.jpg" target="_blank">
        <img src="{% static 'dr Ambedkar.png' %}" alt="My image">
        <h1>Dr. Babasaheb Ambedkar</h1>
    
    </header>

    <main>
        <section>
            <h2>Biograophy</h2>
            <p>Dr. Bhimrao Ramji Ambedkar was hardly two years old when his father retired from service. His mother died when he was only about six. Babasaheb got his early education in Bombay. Since his school days he realized with intense shock what it was to be an untouchable in India.
                Dr. Ambedkar was taking his school education in Satara. Unfortunately, Dr. Ambedkar lost his mother. His aunt looked after him. Afterwards, they shifted to Bombay. Throughout his school education, he suffered from the curse of untouchability. His marriage took place after his matriculation in 1907 in an open shed of a market.
                Dr. Ambedkar completed his graduation at Elphinston College, Bombay, for which he was getting a scholarship from His Highness Sayajirao Gaikwad of Baroda. After his graduation, he had to join Baroda Sansthan according to the bond. He lost his father when he was in Baroda, 1913 is the year when Dr. Ambedkar was selected as a scholar to go to U.S.A, for the higher studies. This was the turning point of his educational career.</p>
        </section>

        <section>
            <h2>Contributions</h2>
            <p>Dr Bhimrao Ramji Ambedkar's most significant contribution lay in galvanising the movement for Dalit emancipation. He is credited with awakening the Dalit consciousness, which powered the community’s bid for equality in the society.Drafting the Indian Constitution: As the chairman of the Drafting Committee, Ambedkar played a crucial role in drafting the Indian Constitution, which enshrined the principles of equality, liberty, and fraternity and outlawed caste-based discrimination through various provisions, specially under Fundamental Rights under articles 14 to 18. It also provided a framework for social and economic justice under Directive principals of State policy as well.
                Campaign for Social Equality: Ambedkar was a vocal critic of the caste system and campaigned for social equality. He founded the "Bahishkrit Hitakarini Sabha" in 1924 to work for the welfare of the untouchables and later established the "All India Scheduled Castes Federation" to represent the interests of the marginalized sections of society. He also led the Mahad Satyagrah in 1927 which is considered to be the “foundational event” of the Dalit movement. Earlier in 1930, he had led around 15000 Dalits to enter the Kalaram Temple to help them see God for the first time.
                Provision of Reservation System: Ambedkar proposed the reservation system, which ensured that a certain percentage of government jobs and educational seats were reserved for the socially and economically backward sections of society. This helped to provide access to education and employment opportunities to these sections and uplift them socially and economically.
                Ambedkar signed the Poona Pact with Mahatma Gandhi in 1932, facilitating the reservation of seats for Dalits (then known as Depressed Classes).</p>
        </section>

        <section>
            <h2>Accomplishments</h2>
            <p>Ambedkar played a key role in the formation of the Reserve Bank of India (RBI) in 1935. Back in 1955, he was the first person to propose the partition of Madhya Pradesh and Bihar for better government. He also wanted to make Sanskrit the Indian union's official language and he took part in the 'Lok Sabha' election twice but failed to win on both occasions. 'Waiting for a Visa,' his autobiography, is used as a textbook at Columbia University. He was opposed to the principle of employment and constituency reservation and didn't want the system to exist at all. He was the first Indian to earn a Ph.D. degree outside of India. Ambedkar was the one who pushed for a reduction in India's working hours from 14 to eight hours a day. He was a vocal opponent of the Indian constitution's 'Article 370,' which granted the state of Jammu and Kashmir special status. 
                In 1916, Dr. B.R.Ambedkar worked as the defense secretary for the princely state of Baroda. As he was a Dalit, wor was not easy. He was ridiculed by the people and often ignored. After continuous caste discrimination, he quit his job as the defense secretary and took up jobs as a private tutor and accountant. He later established a consulting firm, but it failed to flourish. The reason has been that he was a Dalit. He finally got a job as a teacher at the Sydenham College of Commerce and Economics in Mumbai. As Ambedkar was a victim of caste discrimination, he thrived on uplifting the pitiable state of the untouchables in society. He founded a weekly journal called "Mooknayak," which enabled him to criticize the beliefs of the Hindus. He was passionate about eradicating the practice of caste discrimination in India which led him to establish "Bahishkrit Hitakarni Sabha."
                The main goal of the organization was to provide education to the backward classes. In 1927, he continuously worked against untouchability. He followed the footsteps of Gandhi and led a Satyagraha movement. The untouchables were denied access to the main source of drinking water and entry in Temples. He fought for the rights of the untouchables. In 1932, the "Poona Pact" was formed that allowed reservation for the depressed class in the regional legislative assembly and central council states. In 1935, he founded the "Independent labor party," which secured fourteen seats in the Bombay election.</p>
        </section>
    </main>
    <br><br>

    <footer>
        <p>© Ankur Tambe</p>
    </footer>

</body>
</html>
